{% extends "base.html" %}

{% block content %}

<div class="salething">
<img srcset="/feminista t-shirt 4.png 300w, /feminista t-shirt 3.png 500w, /feminista t-shirt 2.png 1000w, /feminista t-shirt.png 2000w" src="/feminista t-shirt 2.png" alt="Frau die ein feminista T-Shirt trägt" class="t-shirt">
<div class="verkauf">
  <p>Preis CHF 35.- inklusive Versand<br>
    Mehr <a href="/info">Infos</a> oder <a href="#grössen">Grössentabelle</a><br>
    Das feminista T-Shirt 0.1 jetzt bestellen!</p>
    <p class="center-align"><a href="#" class="customButton" target="_blank">S</a>
    <a href="#" class="customButton" target="_blank">M</a>
    <a href="#" class="customButton" target="_blank">L</a>
    <a href="#" class="customButton" target="_blank">XL</a></p>
<p class="center-align"><a href="#" class="customButton" target="_blank">Mehrere Grössen</a></p>
</div>
</div>


<h3>Grössentabelle</h3>
<p>Bla Bla bla</p>

<h2>Infos</h2>
<p>Vielleicht hier die Info grad, dann brauchst du nur eine Seite, quasi ohne andere Sachen, weil viel Text ist es ja eh nicht.</p>

{% endblock content %}
