{% extends "base.html" %}

{% block content %}

<div class="salething">
  <div class="slider-container">
    <div class="slider slider--proportional slider--proportional-1x1">
    	<div class="slider__inner">
    		<input checked type="radio" name="slider__radiobox" id="slider__radiobox--1" class="slider__radiobox slider__radiobox--1"><label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item-1"></label><label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev-4"></label><label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next-2"></label>
    		<input         type="radio" name="slider__radiobox" id="slider__radiobox--2" class="slider__radiobox slider__radiobox--2"><label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item-2"></label><label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev-1"></label><label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next-3"></label>
    		<input         type="radio" name="slider__radiobox" id="slider__radiobox--3" class="slider__radiobox slider__radiobox--3"><label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item-3"></label><label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev-2"></label><label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next-4"></label>
    		<input         type="radio" name="slider__radiobox" id="slider__radiobox--4" class="slider__radiobox slider__radiobox--4"><label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item-4"></label><label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev-3"></label><label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next-1"></label>
    		<div class="slider__slides">
    			<div class="slider__slide slider__slide--1"><img srcset="/feminista t-shirt 4.png 300w, /feminista t-shirt 3.png 500w, /feminista t-shirt 2.png 1000w, /feminista t-shirt.png 2000w" src="/feminista t-shirt 2.png" alt="Frau die ein feminista T-Shirt trägt" class="t-shirt"></div>
    			<div class="slider__slide slider__slide--2"><img srcset="/feminista detail 4.png 300w, /feminista detail 3.png 500w, /feminista detail 2.png 1000w, /feminista detail.png 2000w" src="/feminista detail 2.png" alt="Detail Schriftzug feminista T-Shirt" class="t-shirt"></div>
    			<div class="slider__slide slider__slide--3"><img srcset="/feminista 4.png 300w, /feminista 3.png 500w, /feminista 2.png 1000w, /feminista.png 2000w" src="/feminista 2.png" alt="Weisses T-Shirt mit rotem feminista Logo bestickt" class="t-shirt"></div>
    			<div class="slider__slide slider__slide--4"><img srcset="/feministas t-shirt 4.png 300w, /feministas t-shirt 3.png 500w, /feministas t-shirt 2.png 1000w, /feministas t-shirt.png 2000w" src="/feministas t-shirt 2.png" alt="Frau die ein T-Shirt mit Schriftzug feminista trägt" class="t-shirt"></div>
    		</div>
    	</div>
  </div>
</div>
<div class="verkauf">
  <p>Preis CHF 35.- inklusiv Versand<br>
    → Mehr <a href="#info">Infos</a> zum T-Shirt<br>
    → Mehr über <a href="#feministas">feministas</a> erfahren<br>
    Das feminista T-Shirt 0.1 jetzt bestellen!</p>
    <p class="center-align"><a href="#" class="customButton" target="_blank">S</a>
    <a href="#" class="customButton" target="_blank">M</a>
    <a href="#" class="customButton" target="_blank">L</a>
    <a href="#" class="customButton" target="_blank">XL</a>
  <a href="#" class="customButton" target="_blank">2XL</a></p>
<p class="center-align"><a href="#" class="customButton" target="_blank">Mehrere Grössen</a></p>
</div>
</div>

<h2 id="info">Info</h2>
<p>100% Bio-Baumwolle mit Besticktem "feminista" Schriftzug. <br>Dieses Produkt wird auf gesetzmässige, ethische und für Arbeiter*innen und Umwelt sichere Art hergestellt.<br></p>

<h3 id="grse">Grössentabelle</h3>
<div class="salething">
<img src="/t-shirt.png" alt="T-Shirt Masse">

<table>
  <tr>
    <th>Grösse</th>
    <th>Länge (A)</th>
    <th>Breite (B)</th>
  </tr>
  <tr>
    <td>S</td>
    <td>64 cm</td>
    <td>41 cm</td>
  </tr>
  <tr>
    <td>M</td>
    <td>66 cm</td>
    <td>44 cm</td>
  </tr>
  <tr>
    <td>L</td>
    <td>67.8 cm</td>
    <td>47 cm</td>
  </tr>
  <tr>
    <td>XL</td>
    <td>70 cm</td>
    <td>50 cm</td>
  </tr>
  <tr>
    <td>2XL</td>
    <td>72 cm</td>
    <td>53 cm</td>
  </tr>
</table>

<p>Die Produktabmessungen können um bis zu 5 cm variieren.</p>

</div>

<h2 id="feministas">Über feministas</h2>




{% endblock content %}
